html {
	font-family: 'Open Sans', sans-serif;
	background-color: #2196F3;
}
a {
	color: white;
}
.top {
	padding-top: 5%;
}

.center {
	text-align: center;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-150 { font-size: 150px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }